.header{

    &__wrapper{
        background: #fff;
        padding: 0 1rem;
       
    }

    &__container{
        display: flex;
        flex-direction:column;
        align-content: center;
    }
    &__logo{
        padding:1rem 0;
    }

    &__button{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 23.5rem;
        height: 3rem;
        border-radius: 4px;
        background-color: #0095FF;
        border-color: #0095FF;
        color: #fff;
        font-weight: 600;
        border-style: solid;
        margin: 1rem 0;

    &--sticker{
        position: relative;
        right: 137px;
    }

      &--wrapper{
display: flex;
justify-content: center ;
      }
    }
}

.searchbar{
    display: flex;
    justify-content: center;
  
    
    &__input{
        background-color: #fafafa;
        height: 2rem;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        width: 200px;
        padding-right: 7.5rem;
        margin-right: 1rem;
    }

    &__photo{
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    }
}